/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//----------------//
@import url('http://fonts.googleapis.com/css?family=Montserrat');
body {
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  font-family: 'Montserrat', sans-serif;
}

.devise_navigation li{
display: inline;
float: right;
}

.devise_navigation a{
  color: whitesmoke;
  text-decoration: none;
}

.main_navigation li{
  display: inline;
}
.main_navigation a{
  text-decoration: none;
  color: whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0px 10px 0px 10px;
}
